.cache
.idea

**/.reports
**/coverage
**/.release
**/lib
**/cjs

**/node_modules
**/.DS_Store
**/.env*
**/!.env.example.*
**/__*


node_modules
libs/*/lib
libs/*/.release
libs/*/.reports
tdlib
**/.env*
__*


